<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @flight.number %>
</p>

<p>
  <strong>Departure airport:</strong>
  <%= @flight.departure_airport %>
</p>

<p>
  <strong>Arrival airport:</strong>
  <%= @flight.arrival_airport %>
</p>

<p>
  <strong>Business class seats:</strong>
  <%= @flight.business_class_seats %>
</p>

<p>
  <strong>Economy class seats:</strong>
  <%= @flight.economy_class_seats %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @flight.duration %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @flight.departure_date %>
</p>

<p>
  <strong>Arrival date</strong>
  <%= @flight.departure_date + @flight.duration %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %> |
<%= link_to 'Reserve this flight', new_registration_path %>
